body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: calc(100vh - 41px);
}

/*Legend specific*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}


/* Styling popup */
.arpt_id{
  font-size: 30px;
  color: #000000;
  font-weight: bold;
  display: inline-block;
}

.icao_id{
  font-size: 15px;
  color: #000000;
  font-weight: bold;
  display: inline-block;
}

.arpt_name{
  font-size: 15px;
  color: #000000;
  font-weight: bold;
  border-bottom: 1px solid #000000;
  padding-bottom: 5px;
}

.elev{
  font-size: 15px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 0px;
  margin-bottom: -5px;

}

.tpa{
  /* font-size: 15px; */
  color: #000000;
  /* font-weight: bold; */
  margin-top: -10px;
  padding-top: 0px;
}

.visibility_statute_mi{
  font-size: 15px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: -10px;
}

.cloud_base_ft_agl{
  font-size: 15px;
  color: #000000;
  font-weight: bold;
  margin-top: -10px;
  padding-top: 0px;
}

.rwy_id{
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  /* margin-top: 5px; */
  padding-top: 0px;
  margin-bottom: -5px;
  padding-bottom: 0px;
  border-top: 1px solid #000000;
  padding-top: 5px;

}

.rwy_len{
  /* font-size: 15px; */
  color: #000000;
  /* font-weight: bold; */
  margin-top: -10px;
  padding-top: 0px;
  margin-bottom: -10px;
  padding-bottom: 0px;
}

.rwy_width{
  /* font-size: 15px; */
  color: #000000;
  /* font-weight: bold; */
  margin-top: -8px;
  padding-top: 0px;
  margin-bottom: -10px;
  padding-bottom: 0px;
}

.rwy_end_id{
  /* font-size: 15px; */
  color: #000000;
  font-weight: bold;
  margin-top: -5px;
  padding-top: 0px;
  /* margin-bottom: -15px; */
  /* padding-bottom: 0px; */
  display: inline-block;
}

.RP{
  display: inline-block;
  color: #f00c0c;
}
.cross_wind{
  padding-inline-start: 40px;
  margin-top: -10px;
  padding-top: 0px;
  margin-bottom: -5px;
  padding-bottom: 0px;
}

.head_wind{
  padding-inline-start: 40px;
  margin-top: -10px;
  padding-top: 0px;
  margin-bottom: -5px;
  /* padding-bottom: 0px */
}

.gust_cross_wind{
  padding-inline-start: 40px;
  margin-top: -10px;
  padding-top: 0px;
  margin-bottom: -5px;
  padding-bottom: 0px;
}

.gust_head_wind{
  padding-inline-start: 40px;
  margin-top: -10px;
  padding-top: 0px;
  margin-bottom: -5px;
  /* padding-bottom: 0px */
}

/* .rwy_end_id{
  font-weight: bold;
} */



.raw_text{
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: -5px;
  border-top: 1px solid #000000;
  padding-top: 5px;
}

.observation_time{
  font-size: 10px;
  margin-top: -5px;
}